:root {
  --main-font-Open-Sans: 'Open-Sans', sans-serif;
  --font-Roboto: 'Roboto', sans-serif;
  --main-text-size: 16px;
  --hover-color: #EE753E;
  --dark-color: #272A33;
  --disabled-color: rgba(39, 42, 51, 0.2);

}

html {
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

button,
input {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
}

ul,
ol {
  list-style: none;
}